<header class="fixed top-0 left-0 flex flex-wrap sm:justify-start sm:flex-nowrap z-10 w-full bg-miAmarillo text-sm py-8">
    <nav class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between" aria-label="Global">
        <a class="flex-none text-[35px] font-Oswald dark:text-white" href="#">{{infoPaginaService.info.titulo}}</a>
    
    <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:pl-5">
        <a routerLink="home" routerLinkActive="active" class="font-Oswald text-negro text-[22px]" aria-current="page">HOME</a>
        <a routerLink="elecciones2019" routerLinkActive="active" class="font-Oswald text-negro text-[22px] hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500" >ELECCIONES 2019</a>
       
    </div>

    </nav>
    
</header>